<div id="wrapper">
  <div id="columns">
    <%#= render bookmarks %>

    <%# bookmarks.each do |bookmark| %>
      <%#= render bookmark %>
    <%# end %>

    <%# bookmarks.each do |bookmark| %>
      <%#= render partial: 'bookmarks/bookmark', object: bookmark %>
    <%# end %>

    <%# bookmarks.take(8).each do |bookmark| %>
      <%#= render partial: 'bookmarks/bookmark', locals: {bookmark: bookmark} %>
    <%# end %>

    <% bookmarks.each do |bookmark| %>
      <%= render partial: 'bookmarks/bookmark', locals: {bookmark: bookmark} %>
    <% end %>
  </div>
</div>