 @import "bootstrap";

.nav-tabs {
border-bottom: 1px solid #777;
}

.footer{
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #777;
}
 .right-header{
  float: right !important;
 }

.bkmrk-btn{
  font-size: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.heart{
  transition: color .4s ease;
  color: #b20000;
 }

.unheart{
  transition: color .4s ease;
  color: #428bca;
 }

.trash {
  transition: color .4s ease;
  color: #939393;
 }

.heart:hover{
  color: #428bca;
 }

.unheart:hover{
  color: #b20000;
 }

.trash:hover{
  color: #282828;
 }

body {
  background-color: #282828;
  color: white;
 }

.user-info {
   margin-top: 9px;
 }
 
 .nav {
   margin-top: 5px;
 }

 .jumbotron {
  background-color: #FEFEFE;
  color: #333333;
  padding-top: 15px;
  padding-bottom: 15px;
 }

 .jumbotron h1 {
  margin-top: 10px;
 }

#wrapper {
  width: 90%;
  max-width: 16000px;
  min-width: 100px;
  margin: 10px auto;
}

#columns {
  -webkit-column-count: 1;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 1;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 1;
  column-gap: 10px;
  column-fill: auto;
}

.pin {
  // display: inline-block;
  background: #FEFEFE;
  // border: 2px solid #FAFAFA;
  // box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0px 0px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;

  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.pin:hover:before, .pin:focus:before, .pin:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}

.pin:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #428bca;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.pin img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.pin p {
  // font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
  text-align: center;
  padding-bottom: 5px;
}

.pin p > a {
  text-decoration: none;
}

.pin p.bookmark-title {
  margin-bottom: 5px;
}

/* Smaller devices (tablets, 7480px and up) */
@media (min-width: 480px) {
  #columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

/* Small devices (tablets, 650px and up) */
@media (min-width: 650px) {
  #columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: 1200px) {
//   #columns {
//     -webkit-column-count: 5;
//     -moz-column-count: 5;
//     column-count: 5;
//   }
// }

// .tooltip{
//     display: inline;
//     position: relative;
// }

// .tooltip:hover:after{
//     background: #333;
//     background: rgba(0,0,0,.8);
//     border-radius: 5px;
//     bottom: 26px;
//     color: #fff;
//     content: attr(title);
//     left: 20%;
//     padding: 5px 15px;
//     position: absolute;
//     z-index: 98;
//     width: 220px;
// }

// .tooltip:hover:before{
//     border: solid;
//     border-color: #333 transparent;
//     border-width: 6px 6px 0 6px;
//     bottom: 20px;
//     content: "";
//     left: 50%;
//     position: absolute;
//     z-index: 99;
// }